## 作業:
今天學到不同統計量之間特性，  
試著分析男生女生身高資料，  
試著回答下面的問題:  
Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?    
Q2: 請問男生和女生在平均身高上誰比較高?   
Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何?    
上述問題透過  python 語法進行運算，
並將上述答案填寫在 (google 表單)[https://docs.google.com/forms/d/e/1FAIpQLSdDzwpeJl8YLPwZaW8pBZvtuXY9kIbbZLqxcXyzFaoraV5JEA/viewform ]
![](作業資料圖檔.PNG)

In [1]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns

In [ ]:
## 輸入資料
boys=[164, 176, 169, 169, 165, 175, 159, 151, 144, 160, 183, 165, 156, 170,
 164, 173, 165, 163, 177, 171]
girls=[169,170,162,154,183,173,169,167,170,185,162,175,168,151,181,170,182,156,159,160]

'\n你的程式碼\n'

In [11]:

#Q1:試著用今天所教的內容，如何描述這兩組資料的樣態?
#暗示:  分別計算男生和女生的統計量
data = pd.DataFrame({'boys':boys,'girls':girls}) 
data.describe()

             boys       girls
count   20.000000   20.000000
mean   165.950000  168.300000
std      9.213691    9.766215
min    144.000000  151.000000
25%    162.250000  161.500000
50%    165.000000  169.000000
75%    171.500000  173.500000
max    183.000000  185.000000

In [10]:
#Q2: 請問男生和女生在平均身高上誰比較高? 
'''
Ans:女生(168.3cm)的平均身高高於男生(165.95cm)
'''

'\nAns:女生(168.3cm)的平均身高高於男生(165.95cm)\n'

In [14]:
#Q3:請問第二題的答案和日常生活中觀察的一致嗎? 如果不一致，你覺得原因可能為何? 
print('女生偏度=', stats.skew(girls))
print('男生偏度=', stats.skew(boys))
print('女生峰度=', stats.kurtosis(girls))
print('男生峰度=', stats.kurtosis(boys))

'''
Ans:不一致,可能抽樣的樣本數不夠,兩組中位數相差4公分,進一步分析可知女生組資料呈現右偏態,低闊峰,而男生組為左偏態,高踞峰,故兩組資料型態分布不一致也是原因之一
'''

女生偏度= 0.059853211293650746
男生偏度= -0.47132127317376954
女生峰度= -0.8203607083948947
男生峰度= 0.19395882957876331
女生中位數= 169.0
男生中位數= 165.0

'\nAns:不一致,可能抽樣的樣本數不夠,另外女生組中經由偏度與峰度資料可知女生組呈現右偏態,低闊峰,而男生組為左偏態,高踞峰,兩組資料型態分布不一致也是原因之一\n'